.demo-fire {
    display: inline-block;
    width: 420px;
    height: 530px;
    background:
        url(../img/demos/fire/fire-small.gif) no-repeat 50% 50%,
        linear-gradient(to right top,
            purple 33%,
            indigo 33%, indigo 66%,
            purple 66%
            );
    ;
}

.demo-fire--bbmode {
    background-blend-mode: lighten;
}