.demo-knight {
    display: inline-block;
    width: 420px;
    height: 530px;
    background:
        url(../img/demos/knights/knight-L.jpg) no-repeat 50% 50%,
        linear-gradient(to left top,
            skyblue 50%, hsl(80,85, 75) 50%
            );
    ;
}

.demo-knight--bbmode {
    background-blend-mode: darken;
}