.demo-devlogos {
    @include center;
    width: 100%;
    text-align: center;
    }
.demo-devlogos__item {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    background-size: contain;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-blend-mode: luminosity;
    -webkit-filter: grayscale(100%);
    text-indent: 0 !important;

    transition: background-color .5s;

    &:hover {
        background-color: transparent;
        -webkit-filter: none;
        }

    &:before {
        content: none !important;
        }
    A {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        }
    }
    .demo-devlogos__item--sass {
        margin-left: 1em;
        background-image: url(../img/demos/logos/sass.png);
        }

    .demo-devlogos__item--grunt {
        background-image: url(../img/demos/logos/grunt.png);
        }

    .demo-devlogos__item--git {
        background-image: url(../img/demos/logos/git.png);
        }