.demo-knight-png {
    @include center;
    width: 85%;
    height: 418px;
    text-align: justify;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
        }

    &__item {
        position: relative;
        display: inline-block;
        width: 240px;
        text-align: center;

        text-indent: 0 !important;
        vertical-align: top;
        IMG {
            max-width: 100%;
            }
        &:before {
            content: none !important;
            }
        }
    &__weight {
        display: inline-block;
        margin-top: .3em;
        padding: 0 10px;
        background: #FFF;
        }
    }