.demo-fireplace {
  display: inline-block;
  position: relative;
  width: 105%;
  height: 550px;
  @include center;
  background-image:
    url(../img/demos/fire/fire-small.gif),
    url(../img/demos/fire/kamin.jpg);
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    50% 80%,
    50% 100%;
  background-size:
    auto,
    contain;
  background-blend-mode: lighten, normal;
  cursor: pointer;
  transition: all 1s;

    &:hover {
      background-position:
      0% 80%,
      100% 100%;
      background-blend-mode: normal;

      P {
        text-shadow: 0 0 2px orangered;
        }
      }
  }

.demo-fireplace--transpgif {
  background-image:
    url(../img/demos/fire/fire-small-256-transp.gif),
    url(../img/demos/fire/kamin.jpg);
}