.demo-numbers__list {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0px;
    left: 0;
    margin: auto !important;
    width: 90%;
    text-align: center;
    }
    .demo-numbers__item {
        display: inline-block;
        width: 250px;
        height: 250px;
        margin: 0 .7em 1.6em;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #FFF;
        text-align: center;
        text-indent: 0 !important;
        line-height: 240px;
        background-color: #FFF;
        /*text-shadow: 0 0 1em rgb(0,0,0);*/
        background-position: center center;

        &:before {
            content: none !important;
            }

        &:nth-child(1) {
            background-image: url(../img/demos/cells-bw.png);
            }
        &:nth-child(4) {
            background-image: url(../img/demos/city.jpeg);
            }
        &:nth-child(3) {
            background-image: linear-gradient(-45deg,
                black 50%, white 50%);
            }
        &:nth-child(6) {
            background-image: url(../img/demos/fire/fire-small.gif);
            }
        &:nth-child(2) {
            background-image: linear-gradient(
                lightblue, greenyellow);
            }

        }
        .demo-numbers__item SPAN {
            mix-blend-mode: difference;
            font-size: 10em;
            /*font-weight: bold;*/
            color: #FFF;
            }