.demo--vignette {
  width: 800px;
  height: 533px;
  margin: -10px auto 0;
  background:
    url(../img/demos/vignette.jpeg),
    radial-gradient(
        hsla(250, 70, 5, 0) 50%,
        hsl(250, 70, 5));
  background-blend-mode: multiply;
  border-radius: 55px;
    }

.demo--vignette-overlay {
    background:
        linear-gradient(90deg,
            hsla(250, 30, 40, .8) 33%,
            hsla(250, 30, 40, 0) 33%),
        linear-gradient(270deg,
            hsla(250, 30, 40, .8) 33%,
            hsla(250, 30, 40, 0) 33%),
        url(../img/demos/vignette.jpeg);
    background-blend-mode: normal, multiply;
    }
