HTML {
  height: 100%;
  background: #000;
}

.demo-bird {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: black;
  background-image:
    url(../img/demos/bird-invert.gif),
    linear-gradient(black, black),
    url(../img/demos/cells-bw.png);
  background-repeat: no-repeat, repeat, repeat;
  background-position:
    50% -15%,
    0,0,
    50% 50%,
    50% 50%;
  background-blend-mode: difference;
  background-size: auto auto;
  border-radius: 50%;
  box-shadow: 0 0 0 7px #FFF;

  :target & {
    animation: bird-move 1.68s infinite ease-out;
  }
}

@keyframes bird-move {
  50% {
    background-position:
      50% 95%,
      0,0,
      50% 50%,
      50% 50%;
  }
}
