.demo--background-clip {
  background: url(https://img-fotki.yandex.ru/get/5707/yoksel.62/0_5137c_75e8acf3_L) 50% 50%;
  color: #FFF;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }

  .demo--background-clip-no-support {
      background: url(https://img-fotki.yandex.ru/get/5707/yoksel.62/0_5137c_75e8acf3_L) 50% 50%;
      color: #FFF;
      }

  $bg-size: .2em;
  $stripe-color: transparentize(steelblue, .3);
  .demo--background-clip-animation {
    background: linear-gradient(
      $transp 60%,
      $stripe-color 60%
      ),
    linear-gradient(90deg,
      $transp 60%,
      $stripe-color 60%
      );
    background-color: white;
    background-position: 50% 0;
    background-size: $bg-size $bg-size;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    :target & {
      animation: move-bg 2s infinite linear;
      }
    }

@keyframes move-bg {
  100% {
    background-position: 50% -#{$bg-size};
  }
}